<h1>Информация о задании</h1>
<p>Задание 3</p>
<p>
Используя движок представлений Handlebars, создайте сайт из трех страниц (к примеру <br>
home, content, info) с некоторыми данными. Используйте частичные представления для<br>
«меню» и «заголовка» каждой страницы. Также создайте мастер-страницу, которая<br>
определит общий макет этих страниц. По сути это то же задание, что и задание 3 в ЛР2,<br>
только с использованием Handlebars. Рекомендуется руководствоваться примером из<br>
соответствующей темы. При неправильном запросе перенаправляйте на home. <br>
</p>
